@import '../../sass/abstracts/variables';

.Tag {
  background-color: $font-color-secondary;
  color: $color-white;
  border-radius: 18px;
  height: 3.6rem;
  min-width: 5.6rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  margin: 0.4rem;
  // box-shadow: 0 1px 2px inset #222222;
}