@import '../../sass/abstracts/variables';

.PanelControl {
  display: flex;
  flex-flow: column;
}

// .Header {
//   padding: 0.8rem;
// }

.Toolbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid $font-color;
  & > div {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
}
