@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/variables';

.Panel {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0.8rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    display: flex;
    grid-template-columns: none;
    flex-flow: column;
    padding: unset;
  }
}

.Panel.Shrink {
  grid-template-columns: repeat(4, 1fr);

  @include respond(tab-land) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(tab-phone) {
    display: flex;
    grid-template-columns: none;
    flex-flow: column;
    padding: unset;
  }
}