@import '../../sass/abstracts/mixins';

.Panel {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  padding: 0.8rem 1.6rem;

  @include respond(big-desktop) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include respond(tab-land) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    display: flex;
    grid-template-columns: none;
    gap: unset;
    flex-flow: column;
    padding: 0.4rem 0.8rem 0.8rem;
  }
}

// .Panel.Shrink {
//   @include respond(tab-phone) {
//     display: flex;
//     grid-template-columns: none;
//     flex-flow: column;
//     padding: unset;
//   }
// }