////
/// Base styles
/// @group Base
/// @author Rafael Goulart (faelplg)
////

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  z-index: 0;
}

html {
  // This defines what 1rem is.
  /* font-size: 10px; 1 rem is equal to 10px. */
  font-size: 62.5%; // 10px divided by 16px (root default font-size)

  // Not needed.
  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;  // 1rem = 9px, 9/16 = 56.25
  }
  @include respond(tab-port) {  // width < 900?
    font-size: 50%;     // 1rem = 8px, 8/16 = 50
  }
  @include respond(big-desktop) {
    font-size: 75%;     // 1 rem = 12, 12/16 = 75
  }
}

body {
  background-color: $background-color;
}

html, body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}