@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/variables';

.Filter {
  height: 0;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.8rem;
  transition: all 0.4s cubic-bezier(0.8, 0, 0.4, 1);
  margin-left: -16rem;

  @include respond(phone) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-left: -100%;
    z-index: 1;
    background-color: $background-color-2;
  }
}

.Filter.Open {
  margin-top: 1.6rem;
  min-height: 7.2rem;
  background-color: $background-color-2;
  @include respond(phone) {
    margin-left: 0;
  }
}