@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/variables';

.Filter {
  padding: 0.8rem;
  flex: 0 1 auto;

  @include respond(phone) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 24rem;
    margin-left: -24rem;
    z-index: 1;
    background-color: $background-color-2;
  }
}

.Filter.Open {
  min-width: 24rem;
  @include respond(phone) {
    margin-left: 0;
  }
}