.App {
  height: 100%;
  display: flex;
  flex-flow: column;

  main {
    height: 100%;
    padding: 1.6rem;
  }
}

.AppHeader {
  display: flex;
  flex-flow: column;
  background-color: #282c34;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0;
}