.App {
  height: calc(100% - 6.4rem);
  padding: 0.8rem;
}

.Panel {
  display: flex;
  flex-flow: row wrap;
  padding: .8rem;
}

.Card {
  background-color: white;
  box-shadow: 0px 2px 4px black;
  min-height: 32rem;
  min-width: 24rem;
  padding: 0.8rem;
  margin: 0.8rem;
}